@import url('//netdna.bootstrapcdn.com/bootstrap/4.7.1/css/bootstrap.min.css');

footer {
	background-color:hsl(181, 90%, 80%);
	height: 50px;
    width: 100%;
  color: white;
  padding: 20px ;
  margin: 30px 20px 30px 20px;
  border: 2px 4px 2px 4px;
}


img{
    height: 30px;
    width: 25px;
    margin: 10px;
    padding: auto;
    border: 5px;
}
